html,
body {
  overflow-x: hidden;
}
body {
  background-color: #ffffff;
}
.logo-name h1 {
  color: rgb(6, 42, 117);
}
nav {
  background-color: #4a80ec;
  position: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
}
.backg {
  background: linear-gradient(to right, #4a80ec, #fbfbfc);
  background-size: 100%;
  height: 800px;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
}
.card {
  padding: 20px; /* box height */
  height: 250px;
}
.headerset {
  padding: 150px;
  box-sizing: border-box;
  padding-bottom: 50px;
}

#background-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 400px;
  position: absolute;
}

.ourservices {
  padding: 100px 0px 60px;
  height: 550px;
}
.ourservices h1 {
  font-size: 50px;
  font-weight: bold;
}
.rowsetting {
  margin: 50px 0px;
}
.rowsetting p {
  color: #02060f;
  padding: 15px;
}
.rowsetting h2 {
  margin-top: 20px; /* box fonts */
  font-weight: bold;
  font-size: 20px;
}
.imgsetting {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding-top: 25px;
}

.footer {
  height: 50px;
}
.footer h6 {
  line-height: 50px;
}
body {
  padding: 0px;
  margin: 0px;
}
#header {
  margin-top: 50px;
  padding: 50px;
  height: auto;
}
#membership {
  margin-top: 150px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
}

#course {
  margin-top: 50px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

#current {
  margin-top: 50px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
#news {
  width: 70px; /* box*/
}
.faq {
  margin-top: 50px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
#faq h4 {
  font-size: 15px !important;
}
#faq {
  text-align: left;
}
footer {
  background-color: #4a80ec;
  width: 100%;
}
#footer-div {
  height: 250px;
  padding: 100px;
  padding-top: 20px;
  display: inline-block;
  width: 100%;
}
#footer-table {
  width: 500px;
  height: 160px;
}
#footer-table-div {
  width: auto;
  margin-left: 600px;
}
#footer-table-div a {
  color: white;
  float: left;
}
#footer-name-div {
  padding-top: 50px;
  width: 30%;
  height: 160px;
  float: left;
  color: white;
  margin-left: 170px;
}
#copyright {
  width: 100%;
}
.foot-inner-table {
  vertical-align: top;
  height: 150px;
}
#foot1 {
  border-bottom: solid white 0px;
}
#foot2 {
  color: white;
}
.copy h3 {
  font-size: 15px;
}
.card-head,
.card-head a {
  /* box title */
  color: #042e81;
  font-weight: bold;
}
.btn {
  background-color: #0857f7; /* join now*/
}
.copy {
  padding: 35px; /* footer length*/
}

@media (min-width: 1537px) {
  .innerbg {
    width: 1536px;
  }
}
@media (min-width: 1400px) and (max-width: 1536px) {
  body {
    height: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1399px) {
  #footer-name-div {
    padding-top: 20px;
    width: 20%;
    height: 80px;
    float: left;
    color: white;
    margin-left: 0px;
    margin-top: 40px;
  }
  #footer-table-div {
    margin-left: 290px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .backg {
    background-size: 250% 100%;
    background-position: -750px !important;
  }
  .ourservices {
    padding: 0px 0px 60px;
    height: 550px;
  }
  .card {
    height: 450px;
  }
  .faq {
    margin-top: -50px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin-left: auto;
  }
  .copy h3 {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
  }
  #foot1 {
    height: auto;
  }
  #footer-div {
    height: 200px;
    padding: 60px;
    padding-top: 0px;
    display: inline-block;
    margin-left: 30px;
  }
  #footer-table {
    width: 200px;
    height: 120px;
  }
  #footer-table-div {
    width: auto;
    margin-left: 360px;
  }
  #footer-name-div {
    padding-top: 20px;
    width: 20%;
    height: 80px;
    float: left;
    color: white;
    margin-left: 0px;
    margin-top: 40px;
  }
  #copyright {
    width: 100%;
  }
  .foot-inner-table {
    vertical-align: top;
    height: 200px;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .backg {
    background-size: 200% 100%;
    background-position: -350px !important;
  }
  .headerset h2 {
    font-size: 22px;
  }
  .headerset h1 {
    font-size: 42px;
    font-weight: bold;
  }
  .headerset {
    padding: 90px;
    padding-top: 210px;
    box-sizing: border-box;
  }
  .btn {
    margin-top: 20px;
  }
  .ourservices {
    margin-top: 0px;
    padding: 0px 0px 60px;
    height: 1100px;
  }
  .card {
    margin-bottom: 20px;
  }
  .faq {
    margin-top: 50px;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin-left: auto;
  }
  .copy {
    padding: 4px;
    margin: 0px;
  }
  .copy h3 {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
  }
  #footer-div {
    height: 300px;
    padding: 60px;
    padding-top: 0px;
    display: inline-block;
    margin-left: 70px;
  }
  #footer-table {
    width: 400px;
    height: 120px;
  }
  #footer-table-div {
    width: auto;
    margin-left: 000px;
  }
  #footer-name-div {
    padding-top: 20px;
    width: 100%;
    height: 80px;
    float: left;
    color: white;
    margin-left: 0px;
  }
  #copyright {
    width: 100%;
  }
  .foot-inner-table {
    vertical-align: top;
    height: 200px;
  }
}
@media (min-width: 480px) and (max-width: 574px) {
  .backg {
    background-size: 100% 100%;
    background-position: 00px !important;
  }
  .headerset h2 {
    font-size: 22px;
  }
  .headerset h1 {
    font-size: 42px;
    font-weight: bold;
  }
  .headerset {
    padding: 90px;
    padding-top: 210px;
    box-sizing: border-box;
  }
  .btn {
    margin-top: 20px;
  }
  .ourservices {
    margin-top: 0px;
    padding: 0px 0px 60px;
    height: 1100px;
  }
  .card {
    margin-bottom: 20px;
  }
  .faq {
    margin-top: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin-left: auto;
  }
  .copy {
    padding: 4px;
    margin: 0px;
  }
  .copy h3 {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
  }

  #footer-div {
    height: 300px;
    padding: 60px;
    padding-top: 0px;
    display: inline-block;
  }
  #footer-table {
    width: 400px;
    height: 120px;
  }
  #footer-table-div {
    width: auto;
    margin-left: 000px;
  }
  #footer-name-div {
    padding-top: 20px;
    width: 100%;
    height: 80px;
    float: left;
    color: white;
    margin-left: 0px;
  }
  #copyright {
    width: 100%;
  }
  .foot-inner-table {
    vertical-align: top;
    height: 200px;
  }
}
@media (max-width: 479px) {
  body {
    margin-right: 0px;
  }
  .backg {
    height: 800px;
    background-size: 300% 100%;
    background-position: -500px;
  }
  .headerset h2 {
    font-size: 22px;
  }
  .headerset h1 {
    font-size: 42px;
    font-weight: bold;
  }
  .headerset {
    padding: 90px;
    padding-top: 240px;
    box-sizing: border-box;
  }
  .btn {
    margin-top: 20px;
  }
  .ourservices {
    margin-top: 0px;
    padding: 0px 0px 60px;
    height: 1100px;
  }
  .card {
    margin-bottom: 20px;
  }
  .faq {
    margin-top: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin-left: auto;
  }
  .copy {
    padding: 4px;
    margin: 0px;
  }
  .copy h3 {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
  }

  #footer-div {
    height: 350px;
    padding: 60px;
    padding-top: 0px;
    display: inline-block;
  }
  #footer-table {
    width: 400px;
    height: 120px;
  }
  #footer-table-div {
    width: auto;
    margin-left: -20px;
    margin-top: 150px;
  }
  #footer-name-div {
    padding-top: 20px;
    width: 100%;
    height: 80px;
    float: left;
    color: white;
    margin-left: 0px;
  }
  #copyright {
    width: 100%;
  }
  .foot-inner-table {
    vertical-align: top;
    height: 200px;
  }
}
/* CARDS  */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card1 {
  box-shadow: 0 18px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: left;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card1 button:hover {
  opacity: 0.7;
}
